#!/usr/bin/env python3
PACKAGE = "balance_robot_control"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("Kp_angle", double_t, 0, "Pitch P Gain", 6.0, 0.0, 10.0)
gen.add("Kd_angle", double_t, 0, "Pitch D Gain", -0.75, -1.0, 0.0)
gen.add("Kp_speed", double_t, 0, "Speed P Gain", 0.3, 0.0, 5.0)
gen.add("Kp_steering", double_t, 0, "Steering P Gain", 0.8, 0.0, 5.0)
gen.add("Kd_steering", double_t, 0, "Steering D Gain", -0.008, -0.1, 0.0)

exit(gen.generate(PACKAGE, "balance_robot_control", "PID"))
