<?xml version="1.0"?>
<launch>
  <arg name="use_actual_stl_assembly" default="false"/>
  <include file="$(find robot_gazebo)/launch/balance_robot_house_lidar.launch">
    <arg name="use_actual_stl_assembly" value="$(arg use_actual_stl_assembly)"/>
  </include> 
  <include file="$(find navigation)/launch/robot_navigation_lidar.launch">
    <arg name="use_actual_stl_assembly" value="$(arg use_actual_stl_assembly)"/>
  </include>   
</launch>
